.list-group {
  margin-top: 2vh;
  max-height: 30vh;
  overflow: auto;
}

.list-group li {
  font-size: 20px;
  display: flex;
  align-items: center;
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.checked {
  text-decoration: line-through;
  color: darkgray;
}

.on {
  color: forestgreen;
}

.hidden {
  visibility: hidden;
}