.to-do-card {
  min-height: 80vh;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
}

.to-do-card .card {
  width: 50vw;
}

.msg {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2vh;
}